@import '../../constants.scss';

.addButton {
    svg {
        width: 24px;
        height: 24px;
    }

    & > a, & > button {
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;
        font-weight: normal;
        transition: none;

        color: $theme-primary-color;
        text-decoration: none;
        padding: 0.75rem 0.5rem;
        display: flex;
        align-items: center;
        width: 100%;

        span {
            padding: 0 0.25rem;

            font-size: 0.9rem;
        }

        &:hover, &.active {
            background-color: darken($theme-background-color, 5%);
        }
    }
}