@import '../../constants.scss';

.buttonMenu {
    background: none;
    border: 1px solid transparent;
    box-shadow: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        fill: $theme-secondary-color;
    }

    &:hover {
        background: darken($theme-primary-color, 20%);
        box-shadow: none;
    }
}